.mob-menu {
    position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        padding: 48px 40px;

        @include tablet {
            display: none;
        }
}

.mob-menu__btn--close {
    @include df-aic;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 10px;

    background-color: transparent;
    border: none;
    
    transition: fill var(--transition-d-tf);
    
    &:hover,
    &:focus {
        fill: var(--active-color);
    }

}

.mob-menu__btn-icon {}

.mob-menu__list {}

.mob-menu__item {}

.mob-menu__link {}

.current {}

.menu__item {}

.mob-menu__contacts {}

.mob-menu__contacts__item {}

.contacts__link {}

.mob-menu__soc {}

.mob-menu__soc__item {}