.mob-menu {
    position: fixed;
    top: 0;
    z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        padding: 48px 40px;

        @include tablet {
            display: none;
        }
        > .container {
            height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: auto;
        }
}

.mob-menu__btn--close {
    @include df-aic;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;

    background-color: transparent;
    border: none;
    
    transition: fill var(--transition-d-tf);
    
    &:hover,
    &:focus {
        fill: var(--active-color);
    }

}

.mob-menu__btn-icon {}

.mob-menu__list {}

.mob-menu__item {
    margin-bottom: 36px;
}

.mob-menu__link {
    font-weight: 500;
        font-size: 40px;
        line-height: calc(47/40);
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--title-color);

        transition: color var(--transition-d-tf);

        &:hover,
        &:focus {
            color: var(--active-color);
        }
        
}

.mob-menu__link.current {
    color: var(--active-color);
}

.mob-menu__bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}
.mob-menu__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.mob-menu__contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.contacts__link {
    font-weight: 500;   
        letter-spacing: 0.02em;
        
        transition: color var(--transition-d-tf);
        &.tel {
            font-size: 34px;
            line-height: calc(40/34);
            color: var(--active-color);
        }
        &.mail {
            font-size: 24px;
            line-height: calc(28/24);
            color: var(--main-text-color);
        }
        &:hover,
        &:focus {
            color: var(--active-color);
        }
}

.mob-menu__soc {
    @include df-aic;
}

.mob-menu__soc__item {
    display: block;
        &:not(:last-child)::after {
        content: '';
        margin-left: 10px;
        margin-right: 10px;
            height: 1px;
            width: 22px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
}
.mob-menu__soc__link {
    font-weight: 500;
        font-size: 18px;
        line-height: calc(22/18);
        letter-spacing: 0.02em;
        color: var(--active-color);
}