/* MODAL FORM */
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
    @include desktop {
        font-size: 20px;
        line-height: 1.15;
    }

}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-field {
    margin-bottom: 10px;
    width: 100%;

    &:nth-of-type(4n) {
        margin-bottom: 20px;
    }
}



.input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}

.modal-input-icon {
    position: relative;
    margin-top: 4px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 12px;
    outline: transparent;

    transition: border-color var(--transition-d-tf);

    &:focus {
        border-color: var(--active-color);
    }
}

.modal-input:focus+.modal-icon {
    fill: var(--active-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--transition-d-tf);
}

.modal-comment {
    display: block;
    margin-top: 4px;
    padding: 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    resize: none;

    transition: border-color var(--transition-d-tf);
}

.modal-comment,
.modal-comment::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.01em;
    @include desktop {
        font-size: 12px;
        line-height: 1.17;
    }
}

.modal-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-comment:focus {
    border-color: var(--active-color);
}

/* CHECKBOX */
.modal-field-check {
    display: flex;
    justify-content: center;
}

.check-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    @include desktop {
        font-size: 14px;
        line-height: 1.71;
    }
}

.check-label span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    margin-right: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;

    transition: fill var(--transition-d-tf),
        background-color var(--transition-d-tf),
        border var(--transition-d-tf);

        .modal-check:checked+& {
                fill: var(--color-white);
                background-color: var(--active-color);
                border: 2px solid var(--active-color);
            }
}

.contract-link {
    color: var(--active-color);
    text-decoration: underline;
    margin-left: 5px;
}

.modal-btn-send {
    margin-top: 30px;
}

