/* CLIENTS */

.clients {
    background: var(--color-white);
}

.clients__title {
    font-size: 28px;
    line-height: calc(33/28);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 30px;

    @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    }
    
}

.clients__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.clients__item {
    display: block;
    @include mobile {
        width: calc((100% - 30px) / 2);
    } 

    @include tablet {
        width: calc((100% - 60px) / 3);
    }
    @include desktop {
        width: calc((100% - 150px) / 6);
    }
}

.clients__link {
    width: 210px;
    @include tablet {
        width: 226px;
    }
    @include desktop {
        width: 170px;
    }
    height: 92px;
    @include df-aic;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    color: var(--icon-main-color);

    transition: border-color var(--transition-d-tf);

    &:hover,
    &:focus {
        border-color: var(--active-color);
    }
}

.clients__logo {
    fill: currentColor;
    transition: fill var(--transition-d-tf);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--active-color);
    }
}