/* features */
.features {
    // padding-bottom: 0;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__item {
    width: 100%;
    // width: 270px;
    @include tablet {
        width: calc((100% - 30px) / 2);
    }

    @include desktop {
        width: calc((100% - 90px) / 4);
    }
}

.features__decor {
    @include df-aic;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;

    height: 120px;
    background: var(--background-color);
    border-radius: 4px;
}


.features__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);

    margin-bottom: 10px;

    @include tablet {
        text-align: left;
    }
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
}