/* SING UP */
.footer-singup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    @include desktop {
        display: block;
        margin-left: auto;
    }
    
}

.footer-form-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);

    margin-bottom: 20px;
    @include desktop {
        display: flex;
    }
}

/* FOOTER FORM */
.footer-form {
    text-align: center;

    @include desktop {
        display: flex;
    }
    
}

.footer-input {
    width: 100%;
    @include mobile {
        width: 450px;
    }
    @include desktop {
        display: block;
        width: 358px;
    }
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    margin-bottom: 20px;
    outline: transparent;
    color: var(--color-white);

    transition: border-color var(--transition-d-tf);

    &:focus {
        border-color: var(--active-color);
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-btn {
    margin: 0 auto;

    @include desktop {
        margin-left: 12px;
    }
    
}

.footer-btn-icon {
    margin-left: 10px;
    fill: var(--color-white);
}