/* HERO SECTION */

.hero {
    max-width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bgimage-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bgimage-mob-2x.jpg);
    }
    @include mobile {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bgimage-tab.jpg);
            @include retina {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/bgimage-tab-2x.jpg);
                }
    }
    @include tablet {
        max-width: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bgimage.jpg);
            @include retina {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/bgimage-2x.jpg);
                }
    }
    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    margin: 0 auto;
}

.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    @include mobile {
        width: 360px;
    }

    @include desktop {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
        
}

.hero__btn {
    width: 216px;

    margin: 0 auto;
}